<style>
#center {
  border-radius: 25px;
  background: lightgray;
  padding: 10px; 
  width: 600px; 
  margin: auto; 
}
</style>

<header class="pb-3 mb-4 border-bottom"> </header>
<div id="center">
  <div class="container-sm" >
    <h2 style="text-align:center;">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions h-100 d-flex align-items-center justify-content-center">
        <%= f.submit "Log in", class: "btn btn-primary w-100"%>
      </div>

      <div>
        <div style="width: 50%; float:left">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :Stay_signed_in, style:"color:blue" %>
            </div>
          <% end %>
        </div>

        <div style="width: 50%; float:right; text-align: right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), style:"color:blue, text-align: right" %>
          <% end %>
        </div>
      </div>

      <br><br>
      
      <div class="actions d-flex align-items-center justify-content-center">
        <%= link_to "Create an account", new_user_registration_path, :class => 'btn btn-outline-primary w-100', style:"color:blue"  %> 
      </div>
      
    <% end %>
  </div>
</div>

<footer class="pb-3 mb-4 border-bottom"> </footer>