<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :clothingType %>
    <%= form.text_field :clothingType, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, class: "form-control"  %>
  </div>

  <div class="button" style="padding-bottom: 10px">
    <%= form.button t('Update Project'), class: "btn btn-primary" %>
  </div>
<% end %>
